/*--------Universal / global attributes--------*/
/*Overall changes: 
-Reorganized css style chunks into more efficient groups for easier reading and understanding
-Added comments for all changes & finding grouped sections easier
-changed font size from px to pt for easier readibility */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16pt;
}

/*--------CODE BELOW GROUPED BY SPECIFIC PAGE SECTION--------*/

/*--------header and navigation--------*/
/*Changes: 
- Changed div selector to nav
- Changed the nearly impossible to see seo class color to look better ;) */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #afb2b4;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/*--------TOP BANNER--------*/
/*Changes: 
- Switched name .hero to .top-banner for easier understanding for banner image */
.top-banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*--------MAIN CONTENT AREAS--------*/
/*Changes:
- 3 main box/section classes consolidated into one class (.content-box) 
- Main content img & h2 classes consolidated into one class(content-box img & content-box h2) */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.subject-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.subject-box img {
    max-height: 200px;
}

.subject-box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*Img floats for main subject box imgs*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*--------BENEFITS RIGHT ASIDE/BOX --------*/
/*Changes:
- Listed benefits classes conslidated into one (.benefit-list)
- Benefit h3 & img also went from 3 separate to one (benefit-list h3 & benefit-list img)
- Added font-size for h3 for slightly better appearance & changed px to pt
- Added font-size for benefit p tags & changed from px to pt */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-list {
    margin-bottom: 32px;
    color: #fff;
}

.benefit-list h3 {
    font-size: 22pt;
    margin-bottom: 10px;
    text-align: center;
}

.benefit-list p {
    font-size: 14pt;
}

.benefit-list img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*--------FOOTER--------*/
/*Changes:
- Changed from h2 to h4 */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
